In [ ]:
Lists

In [11]:
# Q1. Create a list of 5 random numbers and print the list

import random
random_list = [random.randint(1,100) for _ in range(5)]
print("List of random numbers:",random_list)

List of random numbers: [34, 58, 43, 73, 29]

In [13]:
# Q2. Insert 3 new values to the list and print the updated list

random_list.extend([105,126,166])
print("Updated list:",random_list)

Updated list: [34, 58, 43, 73, 29, 105, 126, 166]

In [15]:
# Q3. Use a for loop to print each element in the list

for num in random_list:
    print(num)

34
58
43
73
29
105
126
166

In [ ]:
Dictionary

In [19]:
# Q1. Create a dictionary with given keys and values

person_details = {'name' : 'John', 'age' : 25, 'address' : 'New york'}
print("Dictionary:",person_details)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New york'}

In [21]:
# Q2. Add a new key value pair to created dictionary

person_details['phone'] = '1234567890'
print("Updated dictionary:" ,person_details)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New york', 'phone': '1234567890'}

In [ ]:
Set

In [23]:
# Q1. Create a set with values 1,2,3,4, and 5

numbers_set = {1, 2, 3, 4, 5}
print("Set:", numbers_set)

Set: {1, 2, 3, 4, 5}

In [25]:
# Q3. Remove the value 3 from the set created

numbers_set.remove(3)
print("Set after removing:", numbers_set)

Set after removing: {1, 2, 4, 5}

In [ ]:
Tuple

In [27]:
# Q1. Create tuple with values 1,2,3, and 4

numbers_tuple = (1, 2, 3, 4)
print("Tuple:", numbers_tuple)

Tuple: (1, 2, 3, 4)

In [29]:
# Q2. print the length of tuple created

print("Lenght of Tuple:",len(numbers_tuple))

Lenght of Tuple: 4